{{> head }}

    {{>navbar }}

    <div class="row">
        <div class="col-8">
            <h1>
                Hola Pablo
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur dignissimos magnam excepturi hic corporis eos facilis. Repellendus expedita accusamus provident ducimus, eum praesentium porro atque consequuntur, et, voluptas id.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/lenguaje.png" class="img-thumbnail">
        </div>
    </div>

{{> footer}}